<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iDialogPad_9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C2EBE101A209C5E00F739B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CA4FF6417CDCFDD0092C3F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CB7F4721C2C8BFE00C33581</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CB7F47C1C2C8BFE00C33581</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CCE103F13178E6D00256843</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CF8DBCA1BD0CAF9007F9E11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
